<div class="row justify-content-center my-5">
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col mb-2">
            <label for="username" class="form-label">Username:</label>
            <input type="username" id="username" name="username" [value]="user.name" (change)="setUsername($event.target.value)" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="password" class="form-label">Password:</label>
            <div class="input-group input-group-sm">
              <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" [value]="user.password" (change)="setPassword($event.target.value)" class="form-control form-control-sm">
              <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
                <i class="bi" [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button type="button" (click)="signIn()" class="btn btn-sm btn-success" [disabled]="loading">
              @if (loading) {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              }
              Sign in
            </button>
          </div>
        </div>
        <div class="row" style="padding-top: 10px;">
          <div class="col d-grid">
            <button type="button" class="btn info" [routerLink]="['/signUp']">Click here to sign up!</button>
          </div>
        </div>
        <div class="row" style="padding-top: 10px;">
          <div class="col d-grid">
            <button type="button" class="btn info" [routerLink]="['/forgotPassword']">Forgot your password?</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
