<div class="row justify-content-center my-5">
  <p style="font-size: 24px; margin-top:0px; margin-bottom: 5px;">Profile</p>
  <div class="col-4">
    <div class="row">
      <div class="col mb-2">
        <label for="email" class="form-label">Email:</label>
        @if (user) {
          <input type="email" id="email" name="email" [value]="user.email" disabled class="form-control form-control-sm">
        }
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <label for="name" class="form-label">UserName:</label>
        @if (user) {
          <input type="text" id="name" name="name" [value]="user.name" disabled (change)="setUsername($event.target.value)" class="form-control form-control-sm">
        }
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <mat-label>Gender:</mat-label>
        @if (user) {
          <mat-select [(value)]="user.gender" style="background-color:lightgrey; border-color:darkcyan" class="form-control form-control-sm">
            <mat-option disabled>None</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="male">Male</mat-option>
          </mat-select>
        }
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <button type="button" (click)="update()" class="btn btn-sm btn-dark" [disabled]="loading">
          @if (loading) {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          }
          Update
        </button>
      </div>
    </div>
  </div>
</div>
