/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'NFL';
  src: url('../src/assets/Freshman.ttf');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nflFont {
  font-family: NFL;
}

.blue-snackbar {
  background: #4fe386;
  color: black;
  margin:auto;
  text-align: center;
}

simple-snack-bar span {
  margin:auto;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}
