
<p>Week #{{week.id}}</p>
<div style="margin: 15px;">
  <div class="flex-container" fxLayout="column" fxLayoutGap="16px" >
    <div *ngFor="let game of games">
      <mat-card class="mat-elevation-z4">
        <mat-card-header style="padding-bottom: 10px;">
          <mat-card-title>Game #{{game.id}}: {{game.date}}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div fxLayout="column" class="nflFont" style="height:100%">
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" style="height:30px; margin: 20px;">
              <div fxFlex="15">
                <img mat-card-image src="{{game.awayTeam.imageUrl}}">
              </div>
              <div fxFlex="50">
                <p>
                  {{game.awayTeam.city}} {{game.awayTeam.name}}
                </p>
              </div>
            </div>
              <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" style="height:30px; margin: 20px;">
                <div fxFlex="15">
                  <img mat-card-image src="{{game.homeTeam.imageUrl}}" >
                </div>
                <div fxFlex="50">
                  <p>
                    {{game.homeTeam.city}} {{game.homeTeam.name}}
                  </p>
                </div>
              </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
