:host /deep/ .mat-list-item-content {
  padding-left: 0!important;
  padding-right: 0!important;
}

.winningTeam {
  border-color: #2eab58;
  border-style: solid;
  border-radius: 5px;
}
.mat-badge-content .normal{
}

.mat-badge-content .status{
  background: lightslategray;
}
.mat-badge-content {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: -10px;
}

.pickButton {
  border-radius: 10px;
  border-color: floralwhite;
}

.myPick {
  background-color: rgb(186, 238, 182);
  border-color: #2eab58;
  border-width: 4px;
}

